<!-- bootstrap has default classes, container is one of them. Only one per page. -->
<!-- container-fluid gets rid of padding, just "container" has some space/padding -->
<div class="container-fluid">

	<!-- creates a title -->
	<div class="masthead">

		<h1 class="text-muted">Beer Shop</h1>
		
	</div>

	<!-- Jumbotron -->
	<!-- says what page is about -->
	<div class="jumbotron">
		<h1>Special Stout</h1>

		<p class="lead">
			The best Stout EVAAAA!!!
		</p>

		<p>
			<%= link_to "Buy today", "#", class: 'btn btn-primary' %>
		</p>
	</div>

	<!-- class "row" creates row that goes 100% across all 12 columns -->
	<div class="row">

		<!-- offset moves it over -->
		<div class='col-md-3 col-md-offset-1'>
			<h2>
				How fucking awesome is this beer???
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				This beer is fucking AMAZING! You'll never drink another beer! Buy it now and GET FUCKING DRUNK!!! If you're not satisfied, fuck you!
			</p>
		</div>
		<div class='col-md-4'>
			<h2>
				How fucking awesome is this beer???
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class='col-md-4 hidden-sm'>
			<h2>
				Hide this tab
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
			</p>
		</div>

	</div>

	<div class="row">

		<!-- offset moves it over -->
		<div class='col-md-4'>
			<h2>
				How fucking awesome is this beer???
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				This beer is fucking AMAZING! You'll never drink another beer! Buy it now and GET FUCKING DRUNK!!! If you're not satisfied, fuck you!
			</p>
		</div>
		<div class='col-md-4'>
			<h2>
				This one is great too!
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class='col-md-4 hidden-sm'>
			<h2>
				Hide this tab
			</h2>
			<p class="text-danger">
				Warning!!!
			</p>
			<p>
				Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
			</p>
		</div>

	</div>
	
</div>












